
.container {
    display: flex;
    column-gap: 10px;
    align-items: flex-end;
    margin: 20px;

}
.image img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.box {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 5px;
    min-width: 200px;
    max-width: 400px;
}

.user {
    font-weight: 500;
}

.myMessage {
    flex-direction: row-reverse;
}